TF_VAR_gitlab_configuration='{"gitlab_host_url":"https://gitlab.com", "token":"<INSERT TOKEN HERE>", "group":"<GITLAB GROUP>", "cluster_environment_scope":"*", "cluster_management_project_id":""}'
TF_VAR_kubernetes_configuration='{"cluster_name":"<CLUSTER NAME; ARBITRARY>", "kubernetes_api_url":"<K8S API URL>", "cluster_certificate_authority_data":"<CLUSTER CA DATA SHOULD BE BASE64>"}'